@media (max-width: 768px) {
  .header {
    display: none;
  }

  .container {
    padding: 10px;
    background: none;
    justify-content: center;
    align-items: center;

    & img {
      display: none;
    }

    & .form {
      width: 300px;
      & h2 {
        font-size: 30px;
        width: 100%;
        margin-bottom: 5px;
      }

      & .input {
        height: 84px;
      }

      & .error-msg {
        font-size: 12px;
      }
    }
  }

  button {
    margin-top: 10px;
  }
}