@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.container .header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container .form {
    padding: 20px;
}

.container .form .form-control {
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

.container .form .form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.container .form .form-control input {
    border: 1px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.container .form .form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.container .form .form-control small {
    position: absolute;
    right: 0;
    visibility: hidden;
    font-size: 12px;
}

.container .form button {
    background-color: #000;
    border: 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.container .form .form-control.success input {
    border-color: #2ecc71;
}

.container .form .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.container .form .form-control.error input {
    border-color: #e74c3c;
}

.container .form .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.container .form .form-control.error small {
    color: #e74c3c;
    visibility: visible;
}