* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.8rem;
}

h2 {
    font-size: 3rem;
}