body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: white;
    width: 400px;
    margin-top: 40px;
    border-radius: 8px;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.container img {
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instructions ul {
    list-style: none;
}

.ingedients ul li::marker {
    color: hsl(14, 45%, 36%);
    font-size: 0.7em;
}

.time {
    margin: 20px 0px;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: hsla(332, 51%, 32%, 0.103);
    position: relative;
    width: 360px;
}

.time h3 {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 16px;
}

.time ul li::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.7em;
}

.div-nutri {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-nutri p {
    margin-left: 30px;
}

.number.d {
    margin-right: 90px;
}