@media (max-width: 768px) {

    .about {
        max-width: 300px;
        width: 100%;
        color: #fff;
        margin-right: 10px;
    }
    
    .about h1 {
        font-size: 35px;
        line-height: 45px;
    }
    
    .about p {
        font-size: 12px;
        margin-top: 30px;
    }

    .form .dados {
        width: 400px;
    }

    .form .dados p {
        font-size: 8px;
        gap: 3px;
    }

}

@media (max-width: 425px) {

    body {
        flex-direction: column;
    }

    .about p {
        text-align: center;
        margin-top: 10px;
    }

    .form .dados {
        width: 350px;
    }

    .form .sale {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .form .dados p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}