@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.content {
    margin: 14px;
    border-radius: 14px;
    background-color: white;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.content .header {
    background: linear-gradient(90deg, rgba(52,52,205,1) 5%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 24px;
    text-align: center;
}

.content .form {
    padding: 18px;
}

.content .form .form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.content .form .form-content label {
    display: inline-block;
    margin-bottom: 4px;
}

.content .form .form-content input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.content .form .form-content a {
    position: absolute;
    bottom: -2px;
    right: 0;
    font-size: 12px;
    visibility: hidden;
}

.content .form button {
    background: linear-gradient(90deg, rgba(52,52,205,1) 5%, rgba(0,212,255,1) 100%);
    color: #fff;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.content .form .form-content.error input {
    border: 1px solid #ff3b25;
}

.content .form .form-content.error a {
    color: #ff3b25;
    visibility: visible;
}