@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital@0;1&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital@0;1&family=Young+Serif&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

body {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    background-color: var(--Stone-100);
}

.container {
    max-width: 650px;
    background-color: var(--White);
    border-radius: 10px;
}

main img {
    width: 100%;
    border-radius: 10px;
}

main {
    padding: 30px;
}

.recipe-informations {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recipe-informations h1 {
    font-family: "Young Serif", sans-serif;
    font-size: 35px;
    padding-top: 30px;
    font-weight: 400;
    color: var(--Stone-900);
}

.recipe-informations p {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    color: var(--Stone-900);
    padding-bottom: 20px;
}

.preparation {
    width: 100%;
    height: 150px;
    background-color: var(--Rose-50);
    padding: 20px;
    border-radius: 10px;
}

.preparation h3 {
    color: var(--Rose-800);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.preparation li {
    margin-bottom: 10px;
}

.preparation li::marker {
    color: var(--Rose-800);
    font-weight: 800;
}

.preparation ul {
    font-family: "Outfit", sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 14px;
    color: var(--Stone-900);
}

.preparation span {
    font-weight: 600;
    padding-left: 15px;
}

.ingredients h2 {
    font-weight: 400;
    color: var(--Brown-800);
    font-family: "Young Serif", sans-serif;
    padding-top: 20px;
}

.ingredients li {
    margin-bottom: 10px;
    padding-left: 15px;
}

.ingredients li::marker {
    color: var(--Rose-800);
    font-weight: 800;
}

.ingredients ul {
    font-family: "Outfit", sans-serif;
    padding: 20px 30px;
    font-size: 14px;
    color: var(--Stone-900);
    border-bottom: 1px solid rgb(235, 235, 235);
}

.instructions h2 {
    font-weight: 400;
    color: var(--Brown-800);
    font-family: "Young Serif", sans-serif;
    padding-top: 20px;
}

.instructions li {
    margin-bottom: 10px;
    padding-left: 15px;
}

.instructions li::marker {
    color: var(--Rose-800);
    font-weight: 800;
}

.instructions ol {
    font-family: "Outfit", sans-serif;
    padding: 20px 30px;
    font-size: 14px;
    color: var(--Stone-900);
    border-bottom: 1px solid rgb(235, 235, 235);
}

.instructions span {
    font-weight: 600;
}

.nutrition h2 {
    font-weight: 400;
    color: var(--Brown-800);
    font-family: "Young Serif", sans-serif;
    padding-top: 20px;
}

.nutrition p {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    color: var(--Stone-900);
    padding-top: 20px;
}

.nutrition table {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    padding-top: 20px;
    width: 100%;
}

.nutrition td {
    color: var(--Brown-800);
    padding: 10px;
    min-width: 50%;
}

.nutrition tr {
    display: flex;
    border-top: 1px solid rgb(235, 235, 235);
}

.nutrition tr:first-child {
    border: none;
}